@model List<Yol>

@{
    Layout = "_LayoutAdmin";
}
<h3>SEFERLER</h3>
<div class="col-4">
    <form asp-action="SeferEkle" asp-controller="admin" method="post">
        <label class="form-label">NEREDEN</label>
        <input class="form-control" type="text" name="nereden" minlength="3" required=""/>
        <label class="form-label">NEREYE</label>
        <input class="form-control" type="text" name="nereye" minlength="3" required=""/>
        <label class="form-label">TARİH</label> 
        <input class="form-control" type="date" name="tarih" required="" />
        <label class="form-label">FİYAT</label>
        <input class="form-control" type="number" name="fiyat"  required="" />
        <label class="form-label">SAAT</label>
        <input class="form-control" type="time" name="saat"  minlength="3" required=""/>
        <input type="submit" value="EKLE" class="btn btn-primary btn-sm " />

    </form>
</div>
<table class="table">
    <thead>
        <tr>
            <th scope="col">SEFER ID</th>
            <th scope="col">NEREDEN</th>
            <th scope="col">NEREYE</th>
            <th scope="col">TARİH</th>
            <th scope="col">SAAT</th>
            <th scope="col">FİYAT</th>
            <th scope="col">İŞLEMLER</th>

        </tr>
    </thead>
    <tbody>
        @foreach (var sefer in Model)
        {
            <tr>
                <td>@sefer.YolId</td>
                <td>@sefer.Nereden</td>
                <td>@sefer.Nereye</td>
                <td>@sefer.Tarih</td>
                <td>@sefer.Saat</td>
                <td>@sefer.Fiyat</td>
                <td>
                    <a class="btn btn-sm btn-primary" asp-action="SeferDüzelt" asp-controller="Admin" asp-route-id="@sefer.YolId">DÜZELT</a>
                    <a class="btn btn-sm btn-danger" asp-action="SeferSil" asp-controller="Admin" asp-route-id="@sefer.YolId">SİL</a>
                </td>
            </tr>
        }

    </tbody>
</table>